extends admin_layout

block css
  link(rel='stylesheet', type='text/css', href='/stylesheets/admin_index_style.css')

block content
  .container
    .row
      p.text-right
        a(href="/login" class="logout btn btn-logout") Déconnexion
    .row
      h2.text-center Smoky Truck : espace administrateur
    .row
      img.img-responsive(src='/images/smoky_logo.svg', alt='Logo SMoky Truck', id="logo")
    .row
      .col-xs-3
        p.important Nombre visites page d'accueil
      .col-xs-1
        p= views_index
    .row.options
      .col-xs-3.col-xs-offset-1
        a(href="/admin/actus" class="btn btn-success") Actualités
      .col-xs-3.col-xs-offset-1
        a(href="/admin/menu" class="btn btn-success") Menu
      .col-xs-3.col-xs-offset-1
        a(href="/admin/adresse" class="btn btn-success") Horraires
    .row
      p.col-xs-6.col-xs-offset-3.text-center
        img.img-responsive.img-rounded(src='../images/chef.jpg', alt='Photo of chef')  
    .row
      h3.text-center Nos actualités
    .row
      a(href="/admin/create" class="btn btn-info") Créer une actualité
      br
      p
        span.warning Attention, seules les 3 dernières actualités créées apparaîtront sur la page d'accueil du site, par ordre descendant.
    .row
      figure.fig-table
        table.table.table-striped.table-bordered.table-responsive.table-condensed
          tr
            th.text-center #
            th.text-center Titre
            th.text-center Sous-titre
            th.text-center Texte
            th.text-center Image
            th.text-center Action

            each row in actus
              tr
                td.text-center= row.id
                td.text-center= row.titre
                td.text-center= row.sous_titre
                td.text-center!= row.texte
                td.text-center
                  img(src="/images/" + row.image, alt='' + row.image, width='150')
                td.text-center
                  a(href="/admin/supprimer/" + row.id onclick="return confirm('Voulez-vous supprimer cet élément ?');") Supprimer
                  br
                  br
                  a(href="/admin/modifier/" + row.id) Modifier
