extends admin1_layout

block css
	link(rel='stylesheet', type='text/css' href='/stylesheets/lieux-hor_style.css')

block content

	// Nous Trouver
	.container
		section.noustrouver
			.row
				.col-md-12.text-center
					h2 Nous Trouver
			.row
				.col-xs-10.col-xs-offset-1.table-style
					table.table.table-striped.table-responsive.hidden-xs
						thead
							tr.hauttableau

								th
								th
									| Lundi
								th
									| Mardi
								th
									| Mercredi
								th
									| Jeudi
								th
									| Vendredi
						tbody
							tr
								- var Adresse1 = "Adresse 1"
								- var Adresse2 = "Adresse 2"
								- var Adresse3 = "Adresse 3"
								- var Adresse4 = "Adresse 4"
								- var Adresse5 = "Adresse 5"  
								td
									| Midi (11h-15h)
								td
									| #{Adresse2}
								td
									| #{Adresse1}
								td
									| #{Adresse3}
								td
									| #{Adresse1}
								td
									| #{Adresse2}
							tr
								td
									| Soir (18h-22h)
								td
									| #{Adresse1}
								td
									| #{Adresse2}
								td
									| #{Adresse1}
								td
									| #{Adresse4}
								td
									| #{Adresse1}
									
					table.table.table-striped.table-responsive.visible-xs
						thead
							tr.hauttableau
								th
								th
									| Midi (11h-15h)
								th
									| Soir (18h-22h)
						tbody
							tr
								td
									| Lundi
								td
									| Adresse 2
								td
									| Adresse 1
							tr
								td
									| Mardi
								td
									| Adresse 1
								td
									| Adresse 2
							tr
								td
									| Mercredi
								td
									| Adresse 3
								td
									| Adresse 1
							tr
								td
									| Jeudi
								td
									| Adresse 1
								td
									| Adresse 4
							tr
								td
									| Vendredi
								td
									| Adresse 2
								td
									| Adresse 1
			.row
				.col-md-4.col-md-offset-4.text-center
					a(href='/admin/editor')
						button.btn.btn-primary.inter-button(type='button') ADMIN MODIFICATION
			br
			br

			.row
				.col-md-10.col-xs-12.col-md-offset-1
					img.img-responsive(src='../images/find-us-map.gif', alt='map')
		// /. Nous Trouver
		// Événements
		section.evenements
			.container
				.row
					.col-md-12.text-center
						h2 Événements
				.row
					.col-md-6.text-center
						nav
							ul
								li
									a(href='') Trucks in Paris (22/10-24/10)
								li
									a(href='') Foodiefest (15/11-18/11)
								li
									a(href='') Pizza-sur-Seine (3/12-5/12)
					.col-md-3.col-md-offset-2
						img.responsive(src='../images/events-2.jpg', alt='image-events')

				.row
					.col-md-4.col-md-offset-4.text-center
						a(href='/admin/editor')
							button.btn.btn-primary.inter-button(type='button') ADMIN MODIFICATION
		// /. Événements