mixin entree(image1, alt1, name, price, pieces, image2, alt2)
	- var path = "/images/"
	.col-md-3
		.card-menu
			img.img-menu(src=path + image1, alt="#{alt1}")
			h3.text-center #{name}
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			h4.text-center
				| #{price} 
				span.petit #{pieces}
			img.info-all(src=path + image2, alt= "#{alt2}")