mixin pizza(image1, alt1, name, description, price1, pieces, image2, alt2)
	- var path = "/images/"
	.col-md-4
		.card-menu.card-pizza
			img.img-menu(src=path + image1, alt="#{alt1}")
			h3.text-center #{name}
			p #{description}
			h4.text-center
				| #{price1} 
				span.petit #{pieces}
			img.info-all(src=path + image2, alt= "#{alt2}")